body {
	font-family: Arial, sans-serif;
	margin: 0;
}

header {
	background-color: #ae4d4d;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	list-style: none;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

main {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
}

#intro {
	text-align: center;
}

#menu ul {
	list-style: none;
	padding: 0;
}

#menu li {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

#menu .item {
	flex: 1;
}

#menu .price {
	flex: 0;
}
footer{
    text-align: center;
}
h2,p{
	text-align: center;
}
body {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Coffee_Beans.jpg/1280px-Coffee_Beans.jpg) 50%;
	background-size: cover;
	background-attachment: fixed;
	font-size: x-large;
	font-weight: 400;
	color: antiquewhite;
	
  }