*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: rgb(5, 61, 8);
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    font-size: larger;
    list-style: none;
}
h3{
    border:3px solid rgb(208, 151, 6) ;
    border-radius: 30px;
    background-color: rgb(223, 133, 16);
    color: rgb(246, 239, 239);
    margin-right: 30px;
    padding: 25px;
    width: 600px;
    margin-top: 200px;
    width: fit-content;
}
ul{
    margin-top:100px ;
}
 
li{
    list-style-type: none;
}
img{
   
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: -700px;
    margin-left: 670px;
    height: 900px;
    width: 800px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
