<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <link rel="stylesheet" href="template4.css">
    <title>Document</title>
</head>
<body>
    <h1> Our Sponsors</h1>
    <p> Sandrine logistics<br> Murrayfireld School ofn Marketing<br> Schuesters Digital media Group<br> Blue Samurai Productions<br> Berao Solutions,INc.<br> Golden Ore Bank</p>
    

</body>
</html>