body{
    background-color: rgb(165, 111, 111);
    color:white;
     font-family:Arial, Helvetica, sans-serif; 
     font-size: 12px;
}
h1{
    border: 8PX solid rgb(17, 11, 11);
    border-radius: 900px;
     /* margin: 400px;
    padding: 50px;  */
    height:25px;
    width: 95px;
    text-decoration:double;
}
li{
    list-style: none;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    text-align: center;
    color: azure;
    background-color: rgb(147, 86, 137);
}
